body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    margin:20px;
}

form, .resultado{
    background:#fff;
    max-width:900px;
    margin:auto;
    padding:20px;
    border-radius:8px;
}

h1{
    margin-bottom:10px;
}

/* SECCIONES */
.section{
    margin-top:25px;
}

/* GRID DATOS + FOTO */
.datos-grid{
    display:flex;
    gap:20px;
}

.datos-left{
    width:70%;
}

.datos-right{
    width:30%;
    text-align:center;
}

/* FORMULARIO */
label{
    font-weight:bold;
    display:block;
    margin-top:10px;
}

input, textarea{
    width:100%;
    padding:6px;
    margin-top:4px;
}

/* FOTO */
.foto{
    width:120px;
    height:160px;
    border:1px solid #000;
    object-fit:cover;
    margin-top:5px;
}

/* ITEMS */
.item{
    border:1px solid #ccc;
    padding:10px;
    margin-top:10px;
}

/* RESULTADO */
.resultado{
    display:none;
    margin-top:30px;
}

.derecha{
    float:right;
    margin-left:20px;
}
